/* background, color, font-family, font-size,
height, margin, padding, text-align */
body  {
    font-family: Helvetica, sans-serif;
    color: #304B4B;
    margin: 0;
    background-color: #F5F5F5;
}
  
  /* top of page */
  
header, .header {
    display: flex;
    background-color: #F28F3B;
    margin-bottom: 33px;
}
.startPage, .questionPage, .feedbackPage, .resultsPage  {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.topDisplay {
    flex: 1;
    flex-direction: row;
    padding: 5px;
    margin: 15px 0;
    justify-content: space-between;
}

.questionNumber {
    align-self: flex-start;
}

.score {
    align-self: flex-end;
    margin-right: 0;
    padding-left: 125px;

}

div.align, .questionNumber, .score, h1, h2, h3, p, form {
    margin-left: 15px;
}

form button {
    padding: 10px 16px;
    border-radius: 10px;
    border: 0;
    font-family: Tahoma;
    font-size: 20px;
    background: #FFD5C2;
    color: #406464;
    margin: 0 8px 10px 0;
}

form label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #406464;
    font-family: arial;
}